@mixin home-text-setting{
    .container{
        width: 60%;
    }
    
    .text{
        line-height: 1.5em;
        
        p{ 
            font-size: 1.2em; 
            font-weight: 300;
        }

        h1{ 
            font-size: 2.5em; 
            font-weight: 500;
            margin-bottom: 1.5em;
            
        }
        color: #fff;
        padding-top: 10em;
        padding-bottom: 10em;
        text-align: center;
        opacity: 0;
    }
}

@mixin some-of-h1-settings {
    text-align: center;
    margin: {
        left: auto;
        right: auto;
    }
    font-weight: 300;
    font-size: 2.2em;
}

@mixin membership-companies-settings {
    color: $companies-color;
    .articles{
        text-align: left;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 8em;
        padding-bottom: 9em;
        h1{
            text-align: left;
            width: 100%;
        }

        p{
            line-height: 1.5em;
        }
    }

    max-width: 125em;
    margin: 0 auto;
}