$font-family: 'Montserrat', sans-serif;
$nav-link-color: darken( #fff, 10% );
$default-font-color: #000;
$header-footer-bg: #01142f;
$overlay: rgba(0,0,0,0.4); 
$body-bg: #fafafa;
$membership-cards: (
    '2': #427699,
    '3': #4c6c75,
    '4': #47a8bd
);
$companies-color: lighten( #e6e6e6, 10%);
$companies-icons-color: lighten( #e6e6e6, 5% );
$contact-iconsC-borderC: #b4b4b4;