@media ( max-width: 63.3125em ){        //1013px
    .c-address{
        h2{
            width: 30%;
        }
    }
}

@media( max-width: 57.75em ){                   //924px   
    .c-links{
        justify-content: space-around;
        margin: 0 auto;
        width: 80%;
    }

    .c-icons{
        flex-basis: 50%;
        margin-bottom: 7em;
    }

    .c-address{
        .mapouter{
            flex-basis: 100%;
        }
        .address-info{
            margin-bottom: 5em;
        }
        
    }
}

@media ( max-width: 49.5em){                //792
    .c-contact h1{ font-size: 3.2em; }
}

@media ( max-width: 40.5625em ){            //649px
    .c-contact{ font-size: 90%;}
}

@media (max-width: 35.4375em){              //567px
    .c-links{
        justify-content: space-around;
        margin: 0 auto;
        width: 100%;
    }
}

@media ( max-width: 32.5em ){               //520px
    .c-contact{
        h1{ 
            font-size: 2.5em; 
            word-spacing: .1em;
            letter-spacing: 0em;
        }
        h2{ font-size: 1em; }
    }
}

@media( max-width: 21.875em ){              //350px
    .c-contact{
        h1{ font-size: 2.3em;}
    }
}

@media( max-width: 20.75em ){               //332px
    .c-contact h1{ font-size: 2em; }
}

@media( max-width: 19.0625em ){             //305px  
    .c-icons{
       flex-basis: 100%;
    }
}