.library-photo .white-bg h2,
.library-photo .blue-bg h2{
    font-size: 2.2em;
    font-weight: 300;
}

.library-photo{
    background: {
        image: url('../img/kniznica.jpg');
        size: cover;
        attachment: fixed;
    } 
}

.vacsi-padding{
    padding: {
        top: 1em;
        bottom: 1em;
    }
}

.white-bg{
    background: rgba(255,255,255,.9);
    padding-top: 1em;
    padding-bottom: 1em;
}

.blue-bg{ 
    background: rgba(25,115,190,.6); 
    .articles{ 
        color: #fff; 
        line-height: 1.8em;
        h1{
            width: 45%;
        }
    }
    padding: {
        top: 1em;
        bottom: 1em;
    }
}